.badge {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-2);
  padding: var(--spacing-0);
  border-radius: var(--border-radius-small);
}

.badge--medium .badge__text {
  font-size: var(--font-size-label-medium);
  font-weight: 500;
  line-height: var(--line-height-label-medium);
  letter-spacing: 0.12px;
  color: var(--color-content-primary);
}

.badge--small {
  background-color: var(--color-bg-subtle-primary);
  padding: var(--spacing-2) var(--spacing-3);
  height: 24px;
  justify-content: center;
}

.badge--small .badge__text {
  font-size: var(--font-size-label-small);
  font-weight: 500;
  line-height: var(--line-height-label-small);
  letter-spacing: 0.1px;
  color: var(--color-content-core-primary);
}

.badge__icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge__icon svg {
  width: 100%;
  height: 100%;
}
