.breadcrumb {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  padding-left: var(--spacing-negative-4);
}

.breadcrumb__link {
  display: flex;
  align-items: center;
  padding: var(--spacing-2) var(--spacing-4);
  background-color: var(--color-bg-action-transparent);
  border-radius: var(--border-radius-small);
  font-size: var(--font-size-body-small);
  font-weight: 500;
  line-height: var(--line-height-body-small);
  color: var(--color-content-tertiary);
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: background-color 0.2s;
}

.breadcrumb__link:hover {
  background-color: rgba(0, 24, 56, 0.04);
}

.breadcrumb__link--active {
  color: var(--color-content-primary);
  cursor: default;
}

.breadcrumb__link--active:hover {
  background-color: transparent;
}

.breadcrumb__separator {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-content-tertiary);
}
