.divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.divider__line {
  flex: 1;
  height: 1px;
  background-color: var(--color-border-default);
}

.divider--vertical {
  width: 0;
  height: 20px;
  transform: rotate(90deg);
}

.divider--vertical .divider__line {
  width: 20px;
  flex: none;
}
